
.accordionsheet {
  flex: 0;
  min-width: 250px;
  width: 250px;
  margin: 2px;
  padding: 2px;
  overflow-y: scroll;
  overflow-x: hidden; 
  height: 100%;

  background: #383838;;
  /*background: url('images/neutral-background.jpg');*/
}

.accordionsheetfolded {
  margin: 2px;
  width: 18px;
  padding: 2px;
  overflow: hidden;
  height: 100%;

  background: #545353;
  border: 1px solid #7a7676;  
  border-radius: 2px;
}

.accordionmenu {
  height: 16px;
  color: #cbcbcb;
  margin-top: 4px;
  padding: 0px;
}

.accordionmenu:hover {
  color: #cbcbcb;
}

.accordionmenutitle {
  float: left;
  font-size: 10pt;
  line-height: 10pt;
  padding-left: 4px;
  padding-top: 1px;
  font-weight: bold;
}

.accordionpanel {
  min-height: 150px;
  padding: 4px;
  margin: 4px;
  margin-bottom: 7px;
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  border-radius: 3px;
  resize: vertical;
  overflow: hidden; 

  background: #545353;
  border: 1px solid #7a7676;
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.28);   
}

.accordionpanelshadow {
  min-height: 150px;
  border: 1px solid #5c5c5c;
  border-radius: 3px;
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.28);
  padding: 4px;
  margin: 4px;
  margin-bottom: 7px;
  display: flex;
  flex-direction: column;

  color: #969696;
  /* https://css-tricks.com/stripes-css/ */
  background: repeating-linear-gradient(45deg, transparent, transparent 10px, #3c3c3c 10px, #3c3c3c 20px );
}

.accordionpanelpopout {
  position: absolute;
  min-height: 150px;
  padding: 4px;
  margin: 4px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  resize: vertical;
  overflow: hidden; 

  background: #545353;
  border: 1px solid #7a7676;
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.28);      
}

.accordionpanelfolded {  
  -webkit-box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 28%);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.28);
  box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 28%);
  padding: 4px;
  margin: 4px;
  display: flex;
  flex-direction: column;
  background: #545353;
  border: 1px solid #7a7676;
}

.accordiontitlebar {
  height: 20px;
  line-height: 18px;
  margin-bottom: 4px;
  padding: 2px;
  line-height: 17px;
  text-align: center;
  font-weight: bold;
  position: relative;
  border-radius: 2px;

  background: #383838;
  color: #cdc9c9;  
}

.accordiontitlebarpopped {
  height: 20px;
  line-height: 18px;
  margin-bottom: 2px;
  padding: 2px;
  line-height: 17px;
  text-align: center;
  font-weight: bold;
  position: relative;
  cursor: hand;

  background: #383838;
  color: #cdc9c9;  
}

.accordioncontent {
  flex: 1;
  display: flex;
  flex-direction: column;    
  overflow-x: hidden;
  background: #686767;
  padding: 2px;
}

.accordionpanelfold {
  position: absolute;
  top: 4px;
  right: 21px;
}

.accordionpanelpop {
  position: absolute;
  top: 3px;
  right: 5px;
}

.fauxbutton {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: buttonface;
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
}

.accordionsheetlabelbutton {
  float: right;
  margin-left: 2px;
  margin-right: 2px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 8pt;
  line-height: 9pt;
  font-weight: bold;
  border: 1px outset #626161;
  border-radius: 2px;
  background: #504f4f;
  color: white;
}

.accordionsheetlabelbutton a {
  text-decoration: none;
  color: #cdc9c9;
}

.propertyfield {
  width: 100%;
  padding: 1px;
}

.propertytextarea {
  resize: vertical;
}

/* Font Awesome overrides */

.fa-minus-square:hover {
  color: black;
}

.fa-plus-square:hover {
  color: black;
}

.fa-external-link-alt:hover {
  color: black;
}

.centertext {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}