
.accordionsheet {
  flex: 0;
  min-width: 250px;
  width: 250px;
  /* display: flex; */
  /* flex-direction: column; */
  margin: 2px;
  background: #e2dede;
  padding: 2px;
  overflow-y: scroll;
  overflow-x: hidden; 
  height: 100%;

  background: #dad8d8;
}

.accordionsheetfolded {
  margin: 2px;
  width: 14px;
  background: #f3f1f1;
  padding: 2px;
  overflow: hidden;
  height: 100%;
}

.accordionmenu {
  height: 12px;
  color: #696767;
  /* background: white;*/
}

.accordionpanel {
  min-height: 150px;
  background: #f7f7f7;
  border: 1px solid #c7c7c7;
  /* -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.28); */
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.28);
  /* box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.28); */
  padding: 4px;
  margin: 4px;
  margin-bottom: 7px;
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  border-radius: 3px;
}

.accordionpanelshadow {
  min-height: 150px;
  border: 1px solid #c7c7c7;
  border-radius: 3px;
  /* -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.28); */
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.28);
  /* box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.28); */
  padding: 4px;
  margin: 4px;
  margin-bottom: 7px;
  display: flex;
  flex-direction: column;

  color: #969696;

  /* https://css-tricks.com/stripes-css/ */
  background: 
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent 10px,
      #ddd 10px,
      #ddd 20px
    );  
}

.accordionpanelpopout {
  position: absolute;
  min-height: 150px;
  background: #f7f7f7;
  border: 1px solid #c7c7c7;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.28);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.28);
  padding: 4px;
  margin: 4px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}

.accordionpanelfolded {
  background: #f7f7f7;
  border: 1px solid #c7c7c7;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.28);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.28);
  padding: 4px;
  margin: 4px;
  display: flex;
  flex-direction: column;
}

.accordiontitlebar {
  height: 20px;
  line-height: 18px;
  margin-bottom: 2px;
  padding: 2px;
  line-height: 17px;
  background: #d0cbcb;
  color: #696767;
  text-align: center;
  font-weight: bold;
  position: relative;
}

.accordiontitlebarpopped {
  height: 20px;
  line-height: 18px;
  margin-bottom: 2px;
  padding: 2px;
  line-height: 17px;
  background: #dedbdb;
  color: #696767;
  text-align: center;
  font-weight: bold;
  position: relative;
  cursor: hand;
}

.accordiontitlebarpopped:hover {
  height: 20px;
  line-height: 18px;
  margin-bottom: 2px;
  padding: 2px;
  line-height: 17px;
  background: #bfbaba;
  color: #696767;
  text-align: center;
  font-weight: bold;
  position: relative;  
  cursor: hand;
}

.accordioncontent {
  flex: 1;
  display: flex;
  flex-direction: column;    
  overflow-x: hidden;
  background: #e4e4e4;
  padding: 2px;
}

.accordionpanelfold {
  position: absolute;
  top: 4px;
  right: 21px;
}

.accordionpanelpop {
  position: absolute;
  top: 3px;
  right: 5px;
}

.fauxbutton {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: buttonface;
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
}

.accordionsheetlabelbutton {
  float: right;
  margin-left: 2px;
  margin-right: 2px;
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 9pt;
  line-height: 9pt;
  font-weight: bold;
  border: 1px outset #ffffff;
  border-radius: 2px;
}

.accordionsheetlabelbutton a {
  text-decoration: none;
  color: #696767;
}

 /* unvisited link */
.accordionsheetlabelbutton a:link {
  color: #696767;
}

/* visited link */
.accordionsheetlabelbutton a:visited {
  color: #696767;
}

/* mouse over link */
.accordionsheetlabelbutton a:hover {
  color: #696767;
}

/* selected link */
.accordionsheetlabelbutton a:active {
  color: #696767;
} 

.propertyfield {
  width: 100%;
  padding: 1px;
}

.propertytextarea {
  resize: vertical;
}

/* Font Awesome overrides */

.fa-minus-square:hover {
  color: black;
}

.fa-plus-square:hover {
  color: black;
}

.fa-external-link-alt:hover {
  color: black;
}

.centertext {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}