
.accordionsheet {
  flex: 0;
  min-width: 250px;
  width: 250px;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  margin: 2px;
  /* margin-left: 4px; */
  /* margin-right: 4px; */
  background: #f3f1f1;
  padding: 2px;
}

.accordionpanel {
  margin: 2px;
  margin-top: 12px;
  border: 1px solid #dadada;
  height: 250px;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  background: white;
  border-radius: 3px;
}

.accordiontitle {
  flex: 0;
  position: absolute;
  top: -11px;
  left: 4px;
  background: white;
  margin: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  /* padding: 2px; */
  font-size: 10pt;
  line-height: 10pt;
  border: 1px solid #d2cece;
}

.accordioncontent {
	
}