*:focus {
  outline: none;
}

* {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  
  padding: 0px;
  margin: 0px;
  
  overflow: hidden;

  font-family: Verdana;
  font-size: 10pt;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  
  font-family: sans-serif;
  overflow: hidden;

  line-height: 2;
}

.main {
  margin: 0px;
  padding: 0px;
  border: 0px solid red;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.maincontainer {
  margin: 0px;
  padding: 3px;
  border: 0px solid red;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row; 
}

.canvas {
  border: 0px solid red;
  flex: 1;
  margin: 2px;
  overflow: scroll;
}

.leftpane {
  border: 0px solid red;
  flex: 1;
  margin: 2px;
  overflow: hidden;

  display: flex;
  flex-direction: column; 
}

.toolbar {
  /* flex: 0; */
  width: 100%;
  height: 28px;
  border: 1px solid #d6d6d6;
  background: #f3f1f1;
  margin-bottom: 3px;
  border-radius: 3px;
}

.panelbutton {
  min-height: 29px;
  margin: 2px;
  display: block;
  float: left;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}
